{% include 'partials/head.twig' %}
{% include 'partials/navbar.twig' %}

<div class="flex flex-col items-center justify-center h-screen text-center">
    <h1 class="text-4xl font-bold text-red-500 mb-4">404 | Page Not Found</h1>
    <p class="text-gray-600">Oops! It seems the page you are looking for does not exist.</p>
    <p class="text-gray-600">Please check the URL or navigate back to the <a href="/articles" class="text-blue-500 hover:underline">home page</a>.</p>
</div>

{% include 'partials/foot.twig' %}
